body
{
  font-family: Times New Roman;
  background-color: #000000;
}
/*all buttons except fight buttons*/
.topAndBottom
{
  color: #ffffff;
  font-size: 4em;
  transition: 0.25s;
  cursor: pointer;
}
/*start btn*/
#topStart
{
  background-color: #660000;
}
#topStart:hover
{
  background-color: red;
}
/*instructions btn*/
#bottomInstructions
{
  background-color: #000066;
}
#bottomInstructions:hover
{
  background-color: blue;
}
/*top btns in city*/
.topButtons
{
  background-color: #660000;
  font-size: 3em;
}
.topButtons:hover
{
  background-color: red;
}
/*bottom btns in city*/
.bottomButtons
{
  background-color: #000066;
  font-size: 3em;
}
.bottomButtons:hover
{
  background-color: blue;
}
/*text in btns*/
.text
{
  text-align: center;
  vertical-align: middle;
  line-height: 50vh;
}
.enemySelection
{
  background-color: #660000;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  line-height: 25vh;
}
.enemySelection:hover
{
  background-color: red;
}
#mainMenuBtn
{
  position: fixed;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  background-color: #000000;
  color: #ffffff;
  z-index: 100;
}
#mainMenuBtn:hover
{
  cursor: pointer;
}
.weaponCategory
{
  color: #ffffff;
  background-color: #660000;
  font-size: 3em;
  text-align: center;
  vertical-align: middle;
  line-height: 20vh;
}
.weaponCategory:hover
{
  background-color: red;
}
.weaponSelect
{
  color: #ffffff;
  background-color: #333333;
  font-size: 2em;
  text-align: center;
  /*vertical-align: middle;*/
  line-height: 15vh;
}
.weaponSelect:hover
{
  background-color: #808080;
  cursor: pointer;
}
.weaponEquipped
{
  color: red;
}
#playerStats
{
  position: absolute;
  width: 20vw;
  height: 100vh;
  left: 0;
  top: 0;
  border-right: 1px solid #ffffff;
}
#enemyStats
{
  position: absolute;
  width: 20vw;
  height: 100vh;
  right: 0;
  top: 0;
  border-left: 1px solid #ffffff;
}
#playerStats div, #enemyStats div
{
  /*position: relative;*/
  color: #ffffff;
  font-size: 1.5em;
  margin-left: 10%;
  margin-top: 10%;
  /*text-align: center;*/
}
#playerStats div:first-child, #enemyStats div:first-child
{
  font-weight: bold;
}
/*where action btns are*/
#screen
{
  position: absolute;
  width: 60vw;
  height: 30vh;
  left: 20vw;
  top: 0;
}
/*where action printouts are*/
#actions
{
  position: absolute;
  width: 60vw;
  height: 70vh;
  left: 20vw;
  bottom: 0;
  background-color: black;
  overflow-y: auto;
}
.characterAction
{
  font-size: 2em;
  background-color: black;
  color: black;
  width: 100%;
}
.playerAction
{
  color: blue;
}
.enemyAction
{
  color: red;
}
.extraAction
{
  color: yellow;
}
.endingAction
{
  color: orange;
}
/*fight btns top*/
.buttonsTop
{
  position: absolute;
  width: 25%;
  height: 50%;
  border: 1px solid #ffffff;
  text-align: center;
  font-size: 1.5em;
}
/*fight btns bottom*/
.buttonsBottom
{
  position: absolute;
  width: 50%;
  height: 50%;
  border: 1px solid #ffffff;
  text-align: center;
  font-size: 2em;
}
#attackLight
{
  top: 0%;
  left: 0%;
}
#attackMedium
{
  top: 0%;
  left: 25%;
}
#attackHeavy
{
  top: 0%;
  left: 50%;
}
#attackMagic
{
  top: 0%;
  left: 75%;
}
#block
{
  bottom: 0%;
  left: 0%;
}
#dodge
{
  bottom: 0%;
  left: 50%;
}
.click
{
  color: #ffffff;
  background-color: #6666ff;
  transition: .25s;
  cursor: pointer;
}
.click:hover
{
  color: #000000;
  background-color: #ccccff;
}
.noClick
{
  color: black;
  background-color: #999999;
  transition: .25s;
  cursor: not-allowed;
}
button:focus
{
  outline: 0;
}
